:root {
  --blue-200: #BEE3F8;
}

div{
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.width-540 {
  width: 540px;
}

.height-540 {
  height: 540px;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mt-40 {
  margin-top: 40px;
}

.border-black{
  border: 2px solid black;
}

.rounded {
  border-radius: 10px;
}

.rounded-tl {
  border-top-left-radius: 10px;
}

.rounded-tr {
  border-top-right-radius: 10px;
}

.rounded-bl {
  border-bottom-left-radius: 10px;
}

.rounded-br {
  border-bottom-right-radius: 10px;
}

.border-gray {
  border: 1px solid gray;
}

.border-gray-l {
  border-left: 1px solid gray;
}

.border-gray-t {
  border-top: 1px solid gray;
}

.border-black-l {
  border-left: 2px solid black;
}

.border-black-t {
  border-top: 2px solid black;
}

.cell {
  font-size: xx-large;
  display: grid;
}

.cell > * {
  margin: auto;
}

.cell:hover {
  background-color: var(--blue-200);
}

.text-color-black {
  color: black;
}

.text-color-blue {
  color: var(--blue-200);
}